:root {
    --fuente-principal: 'Lato', sans-serif;
    --primario: #da595e;
    --oscuro: #484848;
    --claro: #fff;

    --hospedaje: #275154;
    --concierto: #da595e;
    --clase: #598dda;
    --paseo: #940ad4;

    --shadow-md:  0 0.9px 1.5px rgba(0, 0, 0, 0.03), 
    0 3.1px 5.5px rgba(0, 0, 0, 0.08), 
    0 14px 25px rgba(0, 0, 0, 0.12); 
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--fuente-principal);
}

h1 {
    font-size: 2.6rem;
    font-weight: 600;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.8rem;
}

/*Colores categorias*/

.hospedaje {
    color: var(--hospedaje);
}

.concierto {
    color: var(--concierto);
}

.clase {
    color: var(--clase);
}

.paseo {
    color: var(--paseo);
}

.contenedor {
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    height: 100vh;
    background-image: url('../img/arriba.jpg');
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.header {
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}

.navegacion a {
    color: var(--claro);
    text-decoration: none;
    margin-right: 1rem;
}

.navegacion a:last-of-type {
    margin-right: 0;
}

.contenido-hero {
    display: grid;
    grid-template-columns: 5% auto 5%;
    grid-template-rows: max-content auto;
}

.contenido-hero h1 {
    grid-column: 2 / 3;
    color: var(--claro);
}

.contenido-hero form {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    position: relative;
    display: flex;
    height: 4rem;
}

form input[type='text'] {
    flex: 1;
    border: none;
    border-radius: 10px;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: calc(1% + 1rem) calc(1% + .8rem);
    padding-left: 5rem;
    font-size: 1.6rem;
    color: var(--oscuro);
}

form input[type='text']:focus {
    outline: none;
}

form input[type="submit"] {
    position: absolute;
    right: 1rem;
    top: .6rem;
    padding: .7rem 2rem;
    border: none;
    background-color: var(--primario);
    color: var(--claro);
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 1.2rem;
    box-shadow: var(--shadow-md);
}

form input[type="submit"]:hover {
    cursor: pointer;
}

.boton {
    background-color: var(--claro);
    display: block;
    padding: 1rem;
    color: var(--oscuro);
    text-decoration: none; 
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    transition: all .3s ease-in-out;
}

.boton:hover {
    background-color: var(--primario);
    color: var(--claro);
}

.btn-flotante {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--claro);
    padding: .5rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: var(--shadow-md);
    color: var(--oscuro);
    transition: all .3s ease-in-out;
}

/* .btn-flotante.activo {
    background-color: var(--primario);
    color: var(--claro);
} */

.btn-flotante:hover {
    background-color: var(--primario);
    color: var(--claro);
}


/*Contenido Principal*/

.contenedor-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
}

.card img {
    width: 100%;
}

.info .categoria {
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 700;
}

.info .titulo {
    font-size: 1.6rem;
    font-weight: 900;
    margin: 0;
}

.info .precio {
    color: var(--oscuro);
    font-size: .9rem;
}

/*premium*/

.premium {
    background-image: url(../img/hospedaje-pro.jpg);
    background-repeat: no-repeat;
    grid-template-columns: unset;
    height: 28rem;
}

@media (min-width: 768px) {
    .premium {
        grid-template-columns: auto 35%;
    }

    .premium .info {
        grid-column: 2 / 3;
    }
}

.premium .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
}

.premium .info h3 {
    text-align: center;
    color: var(--claro);
    font-size: 2.5rem;
}

@media (min-width:768px) {
    .premium .info h3 {
        text-align: center;
        color: var(--oscuro);
    }
}

/*Destinos Populares*/

.destinos .contenedor-cards {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.destinos .card {
    position: relative
}

.destinos .info {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: var(--claro);
}

/*footer*/

.footer {

}

.nav-footer {
    padding: 1rem;
}

.nav-footer h3 {
    font-size: 1.2rem;
}

.nav-footer a {
    display: block;
    margin-bottom: .5rem;
    text-decoration: none;
    color: var(--oscuro);
}

.nav-footer:last-of-type {
    margin: 0;
}

/* Redes Sociales */

.sociales ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-end;
    /* justify-content: flex-end; */
    flex: 1 0 auto;
    list-style: none;
}

.sociales ul li {
    margin-right: 1rem;
}

.sociales ul li:last-of-type {
    margin-right: 0;
}

.sociales ul li a {
    text-decoration: none;
}

.sociales ul li a::before {
    font-family: "Font Awesome 5 Brands";
    color: var(--oscuro);
    font-size: 1.8rem;
}

.sociales ul li a[href*='facebook.com']::before {
    content: "\f39e";
}

.sociales ul li a[href*='twitter.com']::before {
    content: "\f099";
}

.sociales ul li a[href*='instagram.com']::before {
    content: "\f16d";
}

.sociales ul li span {
    display: none;
}